body {
  background: #000011;
  color: white;
  font-family: poppinsregular;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  flex-direction: column;
  line-height: 10px;
  font-size: 13px;
  font-family: poppinsbold;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  color: white;
  border: transparent 2px solid;
  border-radius: 10px;
}

a:hover {
  border-bottom: #e2f109 solid 2px;
  transition: 0.3s all;  
}

h1 {
  font-weight: 200;
}

main {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

h2 {
  font-size: 56px;
  line-height: 55px;
  font-family: poppinsmedium;
  text-transform: uppercase;
}

span {
  color: #e2f109;
}

p {
  line-height: 20px;
  max-width: 500px;
  font-family: poppinslight;
}

img {
  width: 600px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border: solid transparent 2px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
}

.btn {
  border: solid transparent 2px;
  background-color: #e2f109;
  width: 50%;
  margin-left: 25%;
}

@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
    align-items: center;
  }

  a {
    font-size: 10px;
  }

  h2 {
    font-size: 30px
  }
  
  .initImg {
    width: 300px;
  }
}

